In [35]:
import pandas as pd

In [36]:
path =  "C://Users/khanz/Desktop/empslry.csv"

In [37]:
df = pd.read_csv(path)
df.head()

  Company                  Job     Degree  Salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [38]:
inputs = df.drop('Salary_more_than_100k',axis='columns')

In [39]:
target = df['Salary_more_than_100k']

In [40]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [41]:
inputs['company_n_n'] = le_company.fit_transform(inputs['Company'])
inputs['Job_n'] = le_job.fit_transform(inputs['Job'])
inputs['Degree_n'] = le_degree.fit_transform(inputs['Degree'])

In [42]:
inputs

       Company                  Job     Degree  company_n_n  Job_n  Degree_n
0       google      sales executive  bachelors            2      2         0
1       google      sales executive    masters            2      2         1
2       google     business manager  bachelors            2      0         0
3       google     business manager    masters            2      0         1
4       google  computer programmer  bachelors            2      1         0
5       google  computer programmer    masters            2      1         1
6   abc pharma      sales executive    masters            0      2         1
7   abc pharma  computer programmer  bachelors            0      1         0
8   abc pharma     business manager  bachelors            0      0         0
9   abc pharma     business manager    masters            0      0         1
10    facebook      sales executive  bachelors            1      2         0
11    facebook      sales executive    masters            1      2         1
12    facebook     business manager  bachelors            1      0         0
13    facebook     business manager    masters            1      0         1
14    facebook  computer programmer  bachelors            1      1         0
15    facebook  computer programmer    masters            1      1         1

In [43]:
inputs_n = inputs.drop(['Company','Job','Degree'],axis='columns')

In [44]:
inputs_n


# from sklearn.preprocessing import LabelEncoder
# le_company = LabelEncoder()
# le_job = LabelEncoder()
# le_degree = LabelEncoder()

# The code imports the LabelEncoder class from the sklearn.preprocessing module and creates 
# three instances of the class, le_company, le_job, and le_degree. These instances will be used to encode
# categorical labels as integers.




# instances?_______________

# Instances are objects created from a class in object-oriented programming. In this code, three instances 
# of the LabelEncoder class have been created, le_company, le_job, and le_degree. These instances can be used to call 
# the methods and access the attributes of the class to perform specific tasks. For example, the fit_transform method 
# can be called on each instance to encode categorical labels as integers.




# Zeeshan Khan
# inputs['company_n_n'] = le_company.fit_transform(inputs['Company'])
# inputs['Job_n'] = le_job.fit_transform(inputs['Job'])
# inputs['Degree_n'] = le_degree.fit_transform(inputs['Degree'])_________________

# This code uses the three LabelEncoder instances created previously, le_company, le_job, and le_degree, to encode
# the categorical labels in the 'Company', 'Job', and 'Degree' columns of the inputs dataframe. The fit_transform method is 
# called on each instance and passed the respective column from the inputs dataframe. The resulting transformed integers are
# then stored in new columns, 'company_n_n', 'Job_n', and 'Degree_n', in the inputs dataframe. This process converts categorical
# labels into numerical values, which are required by many machine learning algorithms.





# inputs = df.drop('Salary_more_than_100k',axis='columns')

# target = df['Salary_more_than_100k']

# from sklearn.preprocessing import LabelEncoder
# le_company = LabelEncoder()
# le_job = LabelEncoder()
# le_degree = LabelEncoder()

# inputs['company_n_n'] = le_company.fit_transform(inputs['Company'])
# inputs['Job_n'] = le_job.fit_transform(inputs['Job'])
# inputs['Degree_n'] = le_degree.fit_transform(inputs['Degree'])

# inputs__________________________

# This code is preparing data for a machine learning model by preprocessing the input features and target variable.

# The inputs dataframe is created by removing the 'Salary_more_than_100k' column from the original df dataframe. The target 
# variable, which is the column 'Salary_more_than_100k', is stored in a separate variable called target.

# The code then imports the LabelEncoder class from the sklearn.preprocessing module and creates three instances of the class,
# le_company, le_job, and le_degree. These instances are used to encode the categorical labels in the 'Company', 'Job', and 
# 'Degree' columns of the inputs dataframe, as described in my previous answer. The transformed integers are stored in new 
# columns 'company_n_n', 'Job_n', and 'Degree_n' in the inputs dataframe.

# Finally, the processed inputs dataframe is returned.

    company_n_n  Job_n  Degree_n
0             2      2         0
1             2      2         1
2             2      0         0
3             2      0         1
4             2      1         0
5             2      1         1
6             0      2         1
7             0      1         0
8             0      0         0
9             0      0         1
10            1      2         0
11            1      2         1
12            1      0         0
13            1      0         1
14            1      1         0
15            1      1         1

In [45]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary_more_than_100k, dtype: int64

In [46]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [47]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [48]:
# DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
#             max_features=None, max_leaf_nodes=None,
#             min_impurity_decrease=0.0, min_impurity_split=None,
#             min_samples_leaf=1, min_samples_split=2,
#             min_weight_fraction_leaf=0.0, presort=False, random_state=None,
#             splitter='best')

In [49]:
model.score(inputs_n,target)

1.0

In [50]:
# Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?

model.predict([[2,1,0]])

C:\Python 3.10.8\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [51]:
# Is salary of Google, Computer Engineer, Masters degree > 100 k ?